{% extends "_list.jinja" %}
{% block title %}Öll smökkunin mín{% endblock %}
{% block total %}{{beernights.total}}{% endblock %}
{% block buttons %}

{% endblock %}
{% block table %}
    {% if beernights.total > 0 %}
        {% with beernights=beernights.items %}
            {% include 'user_beernight_table_admin.jinja'%}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if beernights.total > 0 %}
        {{macros.pagination(beernights, url_for('user.admin_beernight_list'))}}
    {% endif %}
{% endblock %}

{% block no_results %}
    {% if beernights.total == 0 %}
        {{macros.no_results("Engir bjórlistar",
            "Til að sjá bjóra þarf fyrst að hjarta þá.")}}
    {% endif %}
{% endblock %}
