{% extends "_list.jinja" %}
{% block title %}Notendur{% endblock %}
{% block total %}{{users.total}}{% endblock %}
{% block buttons %}

{% endblock %}
{% block table %}
    {% if users.total > 0 %}
        {% with users=users.items %}
            {% include 'user_table.jinja'%}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if users.total > 0 %}
        {{macros.pagination(users, url_for('user.user_list'))}}
    {% endif %}
{% endblock %}

{% block no_results %}
    {% if users.total == 0 %}
        {{macros.no_results("{{ _('Engir notendur') }}",
            "{{ _('Til að taka upp söfnun þarf að búa til notendur') }}",
            url_for('user.create_user'),
            "{{ _('Búa til') }}")}}
    {% endif %}
{% endblock %}