{% extends "__base.jinja" %}
{% block body %}
    <style type="text/css">   
        .list-public-admin .list-group-item {
            background-color:{{config.COLORS.adminColor}};
        }
        .list-public-admin .list-group-item:hover {
            background-color: {{config.COLORS.adminHover}};
        }

        .list-public-member .list-group-item {
            background-color:{{config.COLORS.memberColor}};
        }
        .list-public-member .list-group-item:hover {
            background-color: {{config.COLORS.memberHover}};
        }

        .list-public-beers .list-group-item {
            background-color:{{config.COLORS.lineColor}};
        }
        .list-public-beers .list-group-item:hover {
            background-color: {{config.COLORS.fourthColor}};
        }

        .list-public-invites .list-group-item {
            background-color:{{config.COLORS.inviteColor}};
        }
        .list-public-invites .list-group-item:hover {
            background-color: {{config.COLORS.inviteHover}};
        }

    </style>

    <div class='row'>
        <div class='col-12 mb-3 row'>
            <div class="col-2 text-center pl-0">
                {% if current_user.avatar %}
                    <img class='img-responsive mh-100 mw-100' src="{{current_user.avatar}}" alt={{ current_user.name }} onerror="this.src ='../static/images/roundlogo.png'" />
                {% else %}
                    <img class='img-responsive mh-100 mw-100' src={{ url_for("static", filename = 'images/roundlogo.png') }} alt={{ current_user.name }} />
                {% endif %}
            </div>
            <div class="col">
                <p class='font-weight-bold h2'>{{user.name if user.name != None else 'Ekki skráð'}}</p>
                <p>{{user.email}}</p>
            </div>
            {% if current_user.is_admin() %}
                <div class="col" >
                    <button type='button' class='btn btn-sm btn-dark float-right text-warning dropdown-toggle' data-toggle='dropdown'>
                        {{macros.btn_icon('edit', 'r')}}
                        Breyta
                    </button>
                    <div class='dropdown-menu'>
                        <a href="{{url_for('user.user_edit', id=user.id)}}" class='dropdown-item'>
                            {{macros.btn_icon('edit', 'r')}}
                            Breyta notanda
                        </a>
                        <a href="{{url_for('user.user_toggle_admin', id=user.id)}}" class='dropdown-item text-warning'>
                            {{macros.btn_icon('key', 'r')}}
                            {% if user.is_admin() %}
                                Gera að notanda
                            {% else %}
                                Gera að vefstjóra
                            {% endif %}
                        </a>
                    </div>
                    <button type='button' data-toggle='modal', data-target='#deleteModal' class='btn btn-sm btn-dark text-danger float-right mr-2'>
                        {{macros.btn_icon('trash', 'r')}}
                        Eyða notanda
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
     <div class="row d-flex flex-row-reverse mb-4 col px-0 mx-0">
        <button type='button' data-toggle='modal', data-target='#makeBeernightModal' class='btn btn-sm btn-dark text-success float-right'>
            {{macros.btn_icon('plus', 'r')}}
            Búa til smökkun
        </button>
    </div>
    <div class="wrapper row">
        <div class="row w-100">
            <div style="background-color: {% if beernights_admin|length > 0 %}{{config.COLORS.headerColor}}{% else %} {{config.COLORS.headerFadedColor}} {% endif %}; padding-left: 8px; width: 85%" class="d-inline mb-2" data-toggle="collapse" data-target="#collapse-beernights-admin" aria-expanded="false" aria-controls="collapse-admins" style="cursor: pointer;">
                <p class="my-2 ml-3">{% if beernights_admin|length > 0 %}<i class="fas fa-plus mr-2" aria-hidden="true">{% else %}<i class="fas fa-ghost mr-2" aria-hidden="true">{% endif %}</i> Smökkunin mín</p>
            </div>
            <div class="d-inline" style="width: 15%">
                <a class="btn btn-dark float-right" href="{{url_for('user.admin_beernight_list')}}">{{macros.btn_icon('eye', 'r')}}Skoða öll</a>
            </div>
        </div>
        <div class="collapse" style="width: 82%" id="collapse-beernights-admin">
            {% if beernights_admin|length > 0 %}
                    <ul class="list-group list-public-admin" id="beerListUL">
                        {% for b in beernights_admin %}
                            <li class="my-2 list-group-item">
                                {{macros.beernight_line(b, current_user)}}
                            </li>
                        {% endfor %}
                    </ul>
            {% endif %}
        </div>
    </div>
    <div class="wrapper row">
        <div class="row w-100">
            <div style="background-color: {% if beernights_member|length > 0 %}{{config.COLORS.headerColor}}{% else %} {{config.COLORS.headerFadedColor}} {% endif %}; padding-left: 8px; width: 85%" class="d-inline mb-2" data-toggle="collapse" data-target="#collapse-beernights-member" aria-expanded="false" aria-controls="collapse-member" style="cursor: pointer;">
                <p class="my-2 ml-3">{% if beernights_member|length > 0 %}<i class="fas fa-plus mr-2" aria-hidden="true">{% else %}<i class="fas fa-ghost mr-2" aria-hidden="true">{% endif %}</i> Smökkun sem gestur</p>
            </div>
            <div class="d-inline" style="width: 15%">
                <a class="btn btn-dark float-right" href="{{url_for('user.member_beernight_list')}}">{{macros.btn_icon('eye', 'r')}}Skoða öll</a>
            </div>
        </div>
        <div class="collapse" style="width: 82%" id="collapse-beernights-member">
            {% if beernights_member|length > 0 %}
                    <ul class="list-group list-public-member" id="beerListUL">
                        {% for b in beernights_member %}
                            <li class="my-2 list-group-item">
                                {{macros.beernight_line(b, current_user)}}
                            </li>
                        {% endfor %}
                    </ul>
            {% endif %}
        </div>
    </div>

    <div class="wrapper row">
        <div class="row w-100">
            <div style="background-color: {% if invites|length > 0 %}{{config.COLORS.headerColor}}{% else %} {{config.COLORS.headerFadedColor}} {% endif %}; padding-left: 8px; width: 85%" class="d-inline mb-2" data-toggle="collapse" data-target="#collapse-invites" aria-expanded="false" aria-controls="collapse-invites" style="cursor: pointer;">
                <div class="row m-0 ml-3">
                    {% if invites|length > 0 %}
                        <span class="my-2 w-75"><i class="fas fa-plus mr-2" aria-hidden="true"></i> Boð í smökkun</span>
                        <div class="d-flex align-items-center d-flex flex-row-reverse pr-5 w-25">
                            <span class="ml-5 h-50 badge badge-pill badge-danger px-3">{{invites|length}}</span>
                        </div>
                    {% else %}
                        <span class="my-2 w-75"><i class="fas fa-ghost mr-2" aria-hidden="true"></i> Boð í smökkun</span>
                        <div class="d-flex align-items-center d-flex flex-row-reverse pr-5 w-25">
                            <span class="ml-5 h-50 badge badge-pill badge-dark px-3">{{invites|length}}</span>
                        </div>
                    {% endif %}
                    
                </div>
            </div>
            
            <div class="d-inline" style="width: 15%">
                <a class="btn btn-dark float-right" href="{{url_for('user.invites_list')}}">{{macros.btn_icon('eye', 'r')}}Skoða öll</a>
            </div>
        </div>
        <div class="collapse" style="width: 82%" id="collapse-invites">
            {% if invites|length > 0 %}
                <ul class="list-group list-public-invites" id="invitesUL">
                    {% for i in invites %}
                        <li class="my-2 list-group-item">
                            {{macros.invites_line(i)}}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>

    {% if fav_beers|length > 0 %}
        <div class='row mt-4'>
            <div class='col-12'>
                <h3 class='font-weight-bold'>Uppáhalds bjórar</h3>
                <p>Þú átt {{current_user.beers|length}} uppáhalds bjóra</p>
            </div>
        </div>
        {% with items=fav_beers, type="beer"%}
            {% include 'carousel_item.jinja'%}
        {% endwith %}
    {% endif %}
   
{% endblock %}

{% block modals %}

    <div class="modal fade" id='makeBeernightModal' tabindex="-1">
        <form method='POST' enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Búa til nýtt smökkun</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% with form=beernight_form %}
                        {% include 'forms/_form.jinja' %}
                    {% endwith %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                    <button class='btn btn-primary' type='submit'>
                        Klára
                        <span class='ml-1'><i class='fa fa-check'></i></span>
                    </button>
                </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal fade" id='deleteModal' tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Þú ert við það að eyða notenda!</h5>
                <button type="button" class="close" data-dismiss="modal">
                <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                Stór ákvörðun buddy
                <br><br>
                <ul>
                    {% for collection in user.assigned_collections %}
                        <li>
                            <a target="_blank" rel="noopener noreferrer" href="{{url_for('collection.collection_detail', id=collection.id)}}">{{collection.name}}</a>
                        </li>
                    {% endfor %}
                </ul>
                <br><br>
                Ertu viss um að þú viljir eyða þessum notanda?
                </p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                <a href='{{url_for("user.delete_user", id=user.id)}}' class='btn btn-danger'>
                    Eyða
                    <span class='ml-1'><i class='fa fa-trash'></i></span>
                </a>
            </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts%}
    {{super()}}
    
    <script>
        $(document).ready(function () {
        $('.collapse')
            .on('shown.bs.collapse', function() {
                $(this)
                    .parent()
                    .find(".fa-plus")
                    .removeClass("fa-plus")
                    .addClass("fa-minus");
            })
            .on('hidden.bs.collapse', function() {
                $(this)
                    .parent()
                    .find(".fa-minus")
                    .removeClass("fa-minus")
                    .addClass("fa-plus");
            });
        });
        
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
{% endblock %}