{% extends "_list.jinja" %}
{% block title %}{{ _('Allar smakkanir sem gestur') }}{% endblock %}
{% block total %}{{beernights.total}}{% endblock %}
{% block buttons %}

{% endblock %}
{% block table %}
    {% if beernights.total > 0 %}
        {% with beernights=beernights.items %}
            {% include 'user_beernight_table_member.jinja'%}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if beernights.total > 0 %}
        {{macros.pagination(beernights, url_for('user.member_beernight_list'))}}
    {% endif %}
{% endblock %}

{% block no_results %}
    {% if beernights.total == 0 %}
        <div class='jumbotron w-100'>
            <h3 class='font-weight-bold'>
                <span class='text-{% if type %}{{type}}{% else %}warning{% endif %}'>
                    <i class='fa fa-{% if icon %}{{icon}}{% else %}exclamation-triangle{% endif%}'></i>
                </span>
                {{ _('Engar smakkanir') }}
            </h3>
            <p>{{ _('Til að sjá smakkanir þarf fyrst bjóða þér í þær.') }}</p>
        </div>
    {% endif %}
{% endblock %}

{% block modals %}
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="deleteconfirmlabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {{ _('ATH!') }}
                </div>
                <div class="modal-body">
                    {{ _('Ertu viss um að þú viljir eyða smökkun?') }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Hætta við') }}</button>
                    <a class="btn btn-danger btn-ok">{{ _('Eyða') }}</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="confirm-leave" tabindex="-1" role="dialog" aria-labelledby="leaveconfirmlabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {{ _('ATH!') }}
                </div>
                <div class="modal-body">
                    {{ _('Ertu viss um að þú viljir yfirgefa smökkun?') }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Hætta við') }}</button>
                    <a class="btn btn-danger btn-ok">{{ _('Yfirgefa') }}</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{super()}}

    <script>
        $('#confirm-delete').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });

        $('#confirm-leave').on('show.bs.modal', function(e) {
            $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
        });

    </script>
{% endblock %}
