<div class='table-responsive'>
    <table class='table table-hover'>
        <thead>
            <th>
                {{ _('Frá') }}
            </th>
            <th>
                {{ _('Smökkun') }}
            </th>
            <th>
                {{ _('Sent') }}
            </th>
            <th>
                
            </th>
        </thead>
        <tbody>
            {% for i in invites %}
                <tr>
                    <td>{{i.sender.name}}</td>
                    <td>{{i.beernight.name}}</td>
                    <td>{{i.created_at | datetime(format='med-low')}}</td>
                    <td>
                        <div class="col-4 d-flex align-items-center">
                            <a id="accept-beernight-invite-button" class="btn btn-success mx-1" href='{{url_for("beernight.accept_beernight_invite", beernight_id=i.id)}}'>{{ _('Samþykkja') }}</a>
                            <a id="decline-beernight-invite-button" class="btn btn-danger mx-1" href='{{url_for("beernight.decline_beernight_invite", beernight_id=i.id)}}'>{{ _('Hafna') }}</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>