{% extends "_list.jinja" %}
{% block title %}{{ _('Allar smakkanirnar mínar') }}{% endblock %}
{% block total %}{{beernights.total}}{% endblock %}
{% block buttons %}

{% endblock %}
{% block table %}
    {% if beernights.total > 0 %}
        {% with beernights=beernights.items %}
            {% include 'user_beernight_table_admin.jinja'%}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if beernights.total > 0 %}
        {{macros.pagination(beernights, url_for('user.admin_beernight_list'))}}
    {% endif %}
{% endblock %}

{% block no_results %}
    {% if beernights.total == 0 %}
        {{macros.no_results("{{ _('Engar smakkanir') }}",
            "{{ _('il að sjá smakkanir þarf fyrst að búa þær til.') }}")}}
    {% endif %}
{% endblock %}
