<div class='table-responsive'>
    <table class='table table-hover'>
        <thead>
            <th>
                {{ _('Nafn') }}
                {{macros.sort_th_a('name')}}
            </th>
            <th>
                {{ _('Búið til') }}
            </th>
            <th>
                {{ _('Sýnilegur öllum') }}
            </th>
            <th>
                {{ _('Einkunn') }}
            </th>
            <th>
                {{ _('Eignadi') }}
            </th>
            <th>
                {{ _('Meðlimir') }}
            </th>
            <th>
                {{ _('Meðlimir') }}
            </th>
            <th>
            
            </th>
            <th>
            
            </th>
        </thead>
        <tbody>
            {% for b in beernights %}
                <tr>
                    <td><a style="color: {{config.COLORS.warningDark}};" class="text-color-warning" href='{{url_for("beernight.beernight_detail", beernight_id=b.id)}}'>{{b.name}}</a></td>
                    <td>{{b.created_at | datetime(format='med-low')}}</td>
                    <td>{% if b.is_public %}Já{% else %}Nei{% endif %}</td>
                    <td>{{b.average_rating}}</td>
                    <td>{{b.creator.name}}</td>
                    <td>{{b.members | length}}</td>
                    <td>
                        {% if b.is_user_admin(current_user.id) %}
                            <button class="btn btn-dark text-danger mb-2" data-href='{{url_for("beernight.beernight_delete", beernight_id=b.id)}}' data-toggle="modal" data-target="#confirm-delete">
                                <span class=''>
                                    {{ _('Eyða') }}
                                    <i class='fa fa-trash'></i>
                                </span>
                            </button>
                        {% endif %}
                    </td>
                    <td>
                        {% if b.is_user_in_beernight(current_user.id) and not b.is_user_creator(current_user.id)%}
                            <button class="btn btn-dark text-warning" data-href='{{url_for("beernight.beernight_leave", beernight_id=b.id)}}'  data-toggle="modal" data-target="#confirm-leave">
                                <span class=''>
                                    {{ _('Yfirgefa') }}
                                    <i class='fa fa-door-open'></i>
                                </span>
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>