{% extends "_list.jinja" %}
{% block title %}{{ _('Allir uppáhalds drykkir') }}{% endblock %}
{% block total %}{{beers.total}}{% endblock %}
{% block buttons %}

{% endblock %}
{% block table %}
    {% if beers.total > 0 %}
        {% with beers=beers.items %}
            {% include 'user_beers_table.jinja'%}
        {% endwith %}
    {% endif %}
{% endblock %}

{% block pagination %}
    {% if beers.total > 0 %}
        {{macros.pagination(beers, url_for('user.fav_beer_list'))}}
    {% endif %}
{% endblock %}

{% block no_results %}
    {% if beers.total == 0 %}
        {{macros.no_results("{{ _('Engir drykkir') }}",
            "{{ _('Til að sjá drykki þarf fyrst að hjarta þá.') }}")}}
    {% endif %}
{% endblock %}
