{% extends "_list.jinja" %}
{% block title %}{{beer.id}}{% endblock %}

{% block header_content %}

{% endblock %}

{%block buttons %}
   
{% endblock %}

{% block table %}

{% endblock %}

{% block no_results %}

    
{% endblock %}

{% block modals %}
    

{% endblock %}

{% block scripts %}
    
{% endblock %}