{% extends "_list.jinja" %}
{% block title %}Allir bjórar{% endblock %}
{% block total %}{{beer_list | length}}{% endblock %}
{% block buttons %}
    
{% endblock %}
{% block table %}
    
    {% if beer_list | length > 0%}
        {% for b in beer_list %}
            <p>{{b.name}}</p>
        {% endfor %}
    {% endif %}

{% endblock %}

{% block pagination %}
   
{% endblock %}

{% block no_results %}
    
{% endblock %}
