<div class="media">
    <!-- first comment -->

    <div class="media-heading">
         <span style="padding-left: 8px;" class="show-button" class="mb-2" data-toggle="collapse" data-target="#collapse-{{comment.id}}" aria-expanded="false" aria-controls="collapse-comment" style="cursor: pointer;">
            <i class="fas fa-plus mr-2 fa-lg" aria-hidden="true"></i>
        </span>
        <span class="badge badge-info">{{comment.num_likes}}</span> 
        <div class="col">
            <span class="row">{{comment.user.name}}</span> 
            <span class="row">{{comment.created_at | datetime(format='med-low')}}</span>
        </div>
    </div>

    <div class="panel-collapse collapse in ml-3" id="collapse-{{comment.id}}">

            <div class="media-left ml-2">
                <div class="vote-wrap">
                    <div class="save-post">
                        {% if comment.is_liked_by_user(current_user.id) %}
                            <a onclick="likeComment({{comment.id}}, '/beer/comment/like/')"><span id="comment-like-heart-{{comment.id}}" style="font-size: 16px; color: red;" class="fas fa-heart" aria-badge="Save"></span></a>
                        {% else %}
                            <a onclick="likeComment({{comment.id}}, '/beer/comment/like/')"><span id="comment-like-heart-{{comment.id}}" style="font-size: 16px; color: gray;" class="fas fa-heart" aria-badge="Save"></span></a>
                        {% endif %}
                    </div>
                </div>
                <!-- vote-wrap -->
            </div>
          <!-- media-left -->


        <div class="media-body">
            <p>{{comment.text}}</p>
            {% if current_user%}
                <div class="comment-meta">
                    {% if comment.user_id == current_user.id%}
                    <span><a href="{{url_for('beer.delete_comment', id=beer.id, comment_id=comment.id)}}">eyða</a></span>
                    {% endif %}
                    <span><a href="{{url_for('beer.report_comment', id=comment.id)}}">tilkynna</a></span>
                    <span>
                        <a class="" role="button" data-toggle="collapse" data-target="#collapse-{{comment.id}}-reply" href="#replyCommentT" aria-expanded="false" aria-controls="collapseExample">svara</a>
                    </span>
                    <div class="collapse" id="collapse-{{comment.id}}-reply">
                        <div class="form-group">
                            <label for="comment">Svara athugasemd</label>
                            <textarea name="comment" id="comment-input-{{comment.id}}" class="form-control replay-text" rows="3"></textarea>
                        </div>
                        <button type="submit" id='submit-comment-button-{{comment.id}}' class="btn btn-info" onclick="postReply({{comment.id}})" disabled>Senda</button>
                    </div>
                </div>
            {% endif %}

            <!-- comment-meta -->
            {% if comment.replies %}
                {% for c in comment.replies %}
                    {% with comment=c %}
                        {% include 'comment.jinja'%}
                    {% endwith %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
