{% extends "__base.jinja" %}

{% block body %}
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: none;">
			<symbol id="star"><g transform="scale(0.03125 0.03125)"><path d="M896 384l-313.5-40.781-134.5-279.219-134.531 279.219-313.469 40.781 230.469 208.875-59.469 303.063 277-148.812 277.062 148.812-59.562-303.063 230.5-208.875z" /></g></symbol>
			<symbol viewBox="0 0 18 18" id="no_rating"><g transform="scale(0.017578125 0.017578125)"><path d="M512 56.889c-251.362 0-455.111 203.749-455.111 455.111s203.749 455.111 455.111 455.111 455.111-203.749 455.111-455.111-203.749-455.111-455.111-455.111zM170.667 512c0-73.639 23.666-141.694 63.472-197.527l475.388 475.388c-55.833 39.806-123.888 63.472-197.527 63.472-188.222 0-341.333-153.111-341.333-341.333zM789.861 709.527l-475.388-475.388c55.833-39.806 123.888-63.472 197.527-63.472 188.222 0 341.333 153.111 341.333 341.333 0 73.639-23.666 141.694-63.472 197.527z" /></g></symbol>
	</svg>
    <link rel="stylesheet" href="{{ url_for("static", filename = 'css/radio--rating.css') }}">
    <link rel="stylesheet" href="{{ url_for("static", filename = 'css/heartbox-fav.css') }}">
    <div class="beer-containter col">
        <div class="beer-header mb-10">
            <p class="h2">{{beer.name}}</p>
        </div>
        <div class="row">
            <div class="col-4 text-center">
                <img class='img-responsive mh-100 mw-100' src={{ url_for("beer.send_beer_image", id=beer.id) }} alt={{ beer.name }} alt={{ beer.name }} onerror="this.src ='../static/images/roundlogo.png'" loading="lazy" />
            </div>
            <div class="col-8">
                <div class="row">
                    <div class="col-4">
                        <div style="margin: 20px 0px">
                            <span>Styrkur: {{beer.alcohol}}%</span>
                        </div>
                        <div style="margin: 20px 0px">
                            <span>{{macros.btn_icon('star', 'r')}}{{beer.average_rating}}</span>
                        </div>
                        <div class="my-20" style="margin: 20px 0px">
                            <span>Magn: {{beer.volume}}ml</span>
                        </div>
                        <div class="my-20" style="margin: 20px 0px">
                            <span>Verð: {{beer.price}}kr.</span>
                        </div>
                        <div class="my-20" style="margin: 20px 0px">
                            <span>Tegund: {{beer.get_type}}</span>
                        </div>
                         <div class="my-20" style="margin: 20px 0px">
                            <span>Book stuðull: {{beer.calculateBook|round(2)}}</span>
                        </div>
                        <div class="my-20" style="margin: 20px 0px">
                            <span>Hagkvæmni stuðull: {{beer.bang_for_buck}} (ml*alcohol)/kr</span>
                        </div>
                    </div>
                    <div class="col">
                        {% if not current_user.is_anonymous %}
                            <!--
                            <div style="margin: 20px 0px">
                                <form class="beer-rating-form" id="ratingForm" action="{{beer.ajax_rate_action}}" method="POST">
                                    <fieldset class="r-radios">
                                        <input class="radio_star" type="radio" name="r_input" id="r_input_0" onchange="postBeerRating(value)" value="0" checked>
                                        <label for="r_input_0" class="r-radio r-radio--none">
                                            <svg aria-hidden="true" focusable="false">
                                            <use xlink:href="#no_rating"/>
                                            </svg>
                                            <span>Engin einkunn</span>
                                        </label>
                                        <input class="radio_star" type="radio" name="r_input" id="r_input_1" onchange="postBeerRating(value)" value="1">
                                        <label for="r_input_1" class="r-radio">
                                            <svg aria-hidden="true" focusable="false">
                                                <use xlink:href="#star"/>
                                            </svg>
                                            <span role="presentation">1 Stjarna</span>
                                        </label>

                                        <input class="radio_star" type="radio" name="r_input" id="r_input_2" onchange="postBeerRating(value)" value="2">
                                        <label for="r_input_2" class="r-radio">
                                            <svg aria-hidden="true" focusable="false">
                                                <use xlink:href="#star"/>
                                            </svg>
                                            <span role="presentation">2 Stjarna</span>
                                        </label>

                                        <input class="radio_star" type="radio" name="r_input" id="r_input_3" onchange="postBeerRating(value)" value="3">
                                        <label for="r_input_3" class="r-radio">
                                            <svg aria-hidden="true" focusable="false">
                                                <use xlink:href="#star"/>
                                            </svg>
                                            <span role="presentation">3 Stjarna</span>
                                        </label>

                                        <input class="radio_star" type="radio" name="r_input" id="r_input_4" onchange="postBeerRating(value)" value="4">
                                        <label for="r_input_4" class="r-radio">
                                            <svg aria-hidden="true" focusable="false">
                                                <use xlink:href="#star"/>
                                            </svg>
                                            <span role="presentation">4 Stjarna</span>
                                        </label>

                                        <input class="radio_star" type="radio" name="r_input" id="r_input_5" onchange="postBeerRating(value)" value="5">
                                        <label for="r_input_5" class="r-radio">
                                            <svg aria-hidden="true" focusable="false">
                                                <use xlink:href="#star"/>
                                            </svg>
                                            <span role="presentation">5 Stjarna</span>
                                        </label>
                                    </fieldset>
                                </form>
                            </div>
                            -->
                            {{macros.public_star_rating(beer, beer.float_average_rating, 10)}}
                            {% include 'beer_like_heart.jinja' %}
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Setja {{beer.category | lower}} í smökkun
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    {% if not current_user.beernights_admin%}
                                        <a class="dropdown-item disabled">Ekkert smökkun í boði</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" data-toggle='modal', data-target='#makeBeernightModal'>
                                            {{macros.btn_icon('plus', 'r')}}
                                            Búa til smökkun
                                        </a>                                    
                                    {% else %}
                                        {% for b in current_user.beernights_admin %}
                                            <a class="dropdown-item" href='{{url_for("beernight.add_beer_to_beernight", id=beer.id, beernight_id=b.id)}}'>{{b.name}}</a>
                                        {% endfor%}
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" data-toggle='modal', data-target='#makeBeernightModal' style="cursor: pointer;">
                                            {{macros.btn_icon('plus', 'r')}}
                                            Búa til smökkun
                                        </a>        
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'comment_section.jinja' %}
{% endblock %}

{% block modals %}
    <div class="modal fade" id='makeBeernightModal' tabindex="-1">
        <form method='POST' enctype="multipart/form-data">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Búa til nýtt smökkun</h5>
                    <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% with form=beernight_form %}
                        {% include 'forms/_form.jinja' %}
                    {% endwith %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Loka</button>
                    <button class='btn btn-primary' type='submit'>
                        Klára
                        <span class='ml-1'><i class='fa fa-check'></i></span>
                    </button>
                </div>
                </div>
            </div>
        </form>
    </div>
{% endblock%}

{% block scripts %}
    {{super()}}
    <script type='text/javascript'>
        var rating = {{rating}};
        var liked = {{liked}};
        var favourite_action = "{{beer.ajax_favourite_action}}";
    </script>
    <script>
        window.onload = function(){
                setUI()
            }

        function setUI(){
            //setStars();
            setHeart();
        }

        function setStars(){
            var inputs = document.getElementsByClassName("radio_star");
            if(!rating){
                inputs[0].checked = true
            }
            else{
                inputs[rating].checked = true
            }
        }

        function setHeart(){
            var heart = $(".heart_checkbox")

            if(liked){
                heart.prop('checked', true);
            }
            else{
                heart.prop('checked', false);
            }
        }


        $('[data-toggle="collapse"]').on('click', function() {
        var $this = $(this),
                $parent = typeof $this.data('parent')!== 'undefined' ? $($this.data('parent')) : undefined;
        if($parent === undefined) { /* Just toggle my  */
            $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
            return true;
        }

        /* Open element will be close if parent !== undefined */
        var currentIcon = $this.find('.glyphicon');
        currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
        $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

        });
        function allLetter(inputtxt){
        var letters = /^[A-Za-z]+$/;
        if(inputtxt.match(letters))
            {
            return true;
            }
        else
            {
            return true;
            }
        }

        $("#submit-comment-button").on('click', function(){
            var text = $("#comment-input").val();
            if(allLetter(text)){
                var action = "{{beer.ajax_comment_action}}";
                sendComment(text, false, action)
            }
        });

        function postReply(parent_id){
            var text = $("#comment-input-"+parent_id).val();
            if(allLetter(text)){
                var action = "{{beer.ajax_comment_action}}";
                sendComment(text, parent_id, action)
            }
        }

        var oldVal = "";
        $(".replay-text").on("change keyup paste", function() {
            var currentVal = $(this).val();
            if(currentVal == oldVal) {
                return; //check to prevent multiple simultaneous triggers
            }

            oldVal = currentVal;
            var id = $(this).attr('id').split('comment-input-')[1];
            console.log(id)
            //action to be performed on textarea changed
            if(!$(this).val()){
                $("#submit-comment-button-" + id).prop('disabled', true);
            }
            else{
                $("#submit-comment-button-" + id).prop('disabled', false);
            }
        });


        $("#comment-input").on("change keyup paste", function() {
            var currentVal = $(this).val();
            if(currentVal == oldVal) {
                return; //check to prevent multiple simultaneous triggers
            }

            oldVal = currentVal;
            //action to be performed on textarea changed
            if(!$(this).val()){
                $("#submit-comment-button").prop('disabled', true);
            }
            else{
                $("#submit-comment-button").prop('disabled', false);
            }
        });

        function postBeerRating(value) {
            var action = $("#ratingForm").attr("action");
            sendRequest(value, action)
        }

        function sendRequest(value, action) {
            var xhr = new XMLHttpRequest();
            xhr.onload = function(e) {
                if(this.readyState === XMLHttpRequest.DONE) {
                    if(xhr.status == '200'){
                        var response = JSON.parse(xhr.responseText);
                        if('url' in response){
                            var url = response['url'];
                            window.onbeforeunload = null;
                            window.location = url;
                        }

                    } else{
                        promptError("Villa koma upp:", xhr.responseText, "");
                    }
                }
            }
            let formData = new FormData();
            formData.append("value", value);
            xhr.open("POST", action, true);
            xhr.send(formData);
        }

        $('.heart_checkbox').on('click', function() {
            var heart = $(this)
            if(heart.is(":checked")){
                sendRequest('True', favourite_action)
            }  
            else{
                sendRequest('False', favourite_action)
            }
        });



        function sendComment(text, parent_id, action) {
            var xhr = new XMLHttpRequest();
            xhr.onload = function(e) {
                if(this.readyState === XMLHttpRequest.DONE) {
                    if(xhr.status == '200'){
                        var beer_url = xhr.responseText;
                        window.onbeforeunload = null;
                        window.location = beer_url;
                    } else{
                        promptError("Villa koma upp:", xhr.responseText, "");
                    }
                }
            }
            let formData = new FormData();
            formData.append("text", text);
            if(parent_id){
                formData.append("parent", parent_id);
            }
            xhr.open("POST", action, true);
            xhr.send(formData);
        }

        function likeComment(comment_id, action){
            var xhr = new XMLHttpRequest();
            xhr.onload = function(e) {
                if(this.readyState === XMLHttpRequest.DONE) {
                    if(xhr.status == '200'){
                        var ans = xhr.responseText;
                        if(ans == 'like'){
                            $('#comment-like-heart-' + comment_id).css("color", "red");
                        }else{
                            $('#comment-like-heart-' + comment_id).css("color", "gray");
                        }
                    } else{
                        promptError("Villa koma upp:", xhr.responseText, "");
                    }
                }
            }
            let formData = new FormData();
            formData.append("value", comment_id);
            xhr.open("POST", action, true);
            xhr.send(formData);
        }

        $(document).ready(function () {
            $('.show-button')
                .on('click', function() {
                    var el = $(this)
                                .parent()
                                .parent()
                                .find(".collapse")
                                .first()
                                .is('.collapse:not(.show)')
                    if(el){
                        $(this)
                            .find(".fa-plus")
                            .first()
                            .removeClass("fa-plus")
                            .addClass("fa-minus");
                    }
                    else{
                        $(this)
                            .find(".fa-minus")
                            .first()
                            .removeClass("fa-minus")
                            .addClass("fa-plus");
                    }
                })
        });
    </script>

    

    
{% endblock %}