{% extends "__base.jinja" %}

{% block body %}
    <style type="text/css">   
        .list-group-mine .list-group-item {
            background-color:{{config.COLORS.lineColor}};
        }
        .list-group-mine .list-group-item:hover {
            background-color: {{config.COLORS.warning}};
        }
        .sort-icon{
            color: {{config.COLORS.warning}};
        }
        .sort-icon:hover {
            color: {{config.COLORS.warningDark}};
        }

        #search {
            width:90%;
        }

        .searchicon {
            color:#5CB85C;
        }

        .items-collection{
            margin:20px 0 0 0;
        }
        .items-collection label.btn-default.active{
            background-color:#007ba7;
            color:#FFF;
        }
        .items-collection label.btn-default{
            width:90%;
            border:1px solid #305891;
            margin:5px; 
            border-radius: 17px;
            color: #305891;
        }
        .items-collection label .itemcontent{
            width:100%;
        }
        .items-collection .btn-group{
            width:90%
        }


        
    </style>

    <div class="container">
        <div class='col-12 mb-4'>
            <h1 class='font-weight-bold row'>{{cat_name}}</h1>
            <span class="row">{{ _('Fjöldi') }} : {{beer_list | length}}</span>
        </div>
        <input type="text" id="beerFilterInput" onkeyup="filterFunction()" placeholder="{{ _('Leitaðu að drykk') }}">
        <div class="">
            <div class="mb-3" style="color: #303030; padding-left: 8px;" data-toggle="collapse" data-target="#collapse-users" aria-expanded="false" aria-controls="collapse-users" style="cursor: pointer;">
                <span class="py-2" style="color: {{config.COLORS.warning}}; cursor: pointer;"><i class="fas fa-plus mr-2" aria-hidden="true"></i> {{ _('Leitarsíur') }}</span>
            </div>
        </div>
        <div class="wrapper row">
            
            <div class="row mb-3 collapse col" id="collapse-users">
                <div class="row col">
                    <div class="dropdown" style="padding-left:20px;">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ _('Raða eftir') }}
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <div class="dropdown-item btn-group" style="padding: 0.25rem 0.5rem">
                                <a style="font-size:12px" href="{{url}}?sort_by=name&order=asc" class="btn btn-light w-50 text-left">{{ _('Stafrófsröð(A-Ö)') }}</a>
                                <a style="font-size:12px" href="{{url}}?sort_by=name&order=dsc" class="btn btn-light w-50 text-left">{{ _('Stafrófsröð(Ö-A)') }}</a>
                            </div>
                            <div class="dropdown-item btn-group" style="padding: 0.25rem 0.5rem">
                                <a style="font-size:12px" href="{{url}}?sort_by=alcohol&order=dsc" class="btn btn-light w-50 text-left">{{ _('Áfengismagn(Hátt-Lágt)') }}</a>
                                <a style="font-size:12px" href="{{url}}?sort_by=alcohol&order=asc" class="btn btn-light w-50 text-left">{{ _('Áfengismagn(Lágt-Hátt)') }}</a>
                            </div>
                           <div class="dropdown-item btn-group" style="padding: 0.25rem 0.5rem">
                                <a style="font-size:12px" href="{{url}}?sort_by=price&order=dsc" class="btn btn-light w-50 text-left">{{ _('Verð(Hátt-Lágt)') }}</a>
                                <a style="font-size:12px" href="{{url}}?sort_by=price&order=asc" class="btn btn-light w-50 text-left">{{ _('Verð(Lágt-Hátt)') }}</a>
                            </div>
                            <div class="dropdown-item btn-group" style="padding: 0.25rem 0.5rem">
                                <a style="font-size:12px" href="{{url}}?sort_by=volume&order=dsc" class="btn btn-light w-50 text-left">{{ _('Magn(Hátt-Lágt)') }}</a>
                                <a style="font-size:12px" href="{{url}}?sort_by=volume&order=asc" class="btn btn-light w-50 text-left">{{ _('Magn(Lágt-Hátt)') }}</a>
                            </div>
                            <div class="dropdown-item btn-group" style="padding: 0.25rem 0.5rem">
                                <a style="font-size:12px" href="{{url}}?sort_by=rating&order=dsc" class="btn btn-light w-50 text-left">{{ _('Einkunn(Hátt-Lágt)') }}</a>
                                <a style="font-size:12px" href="{{url}}?sort_by=rating&order=asc" class="btn btn-light w-50 text-left">{{ _('Einkunn(Lágt-Hátt)') }}</a>
                            </div>
                            <div class="dropdown-item btn-group" style="padding: 0.25rem 0.5rem">
                                <a style="font-size:12px" href="{{url}}?sort_by=book_score&order=dsc" class="btn btn-light w-50 text-left">{{ _('Book stuðull(Hátt-Lágt)') }}</a>
                                <a style="font-size:12px" href="{{url}}?sort_by=book_score&order=asc" class="btn btn-light w-50 text-left">{{ _('Book stuðull(Lágt-Hátt)') }}</a>
                            </div>
                            <div class="dropdown-item btn-group" style="padding: 0.25rem 0.5rem">
                                <a style="font-size:12px" href="{{url}}?sort_by=economic_score&order=dsc" class="btn btn-light w-50 text-left">{{ _('Hagkvæmast(Mest-Minnst)') }}</a>
                                <a style="font-size:12px" href="{{url}}?sort_by=economic_score&order=asc" class="btn btn-light w-50 text-left">{{ _('Hagkvæmast(Minnst-Mest)') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group w-100">
                    <div class="items-collection w-100 row btn-group .btn-group-justified">
                        {% for c in categories %}
                            <div class="items col" style="">
                                <div class="info-block block-info clearfix">
                                    <div data-toggle="buttons" class="bizmoduleselect">
                                        <label class="btn btn-default category-button">
                                            <div class="itemcontent mx-auto">
                                                <small id='cat-name' class="text-nowrap mx-2" style="">{{c}}</small>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
        </div>
        <div class="mh-100" >
            <ul id="drinkList" class="list-group-flush list-group-mine p-0">
                {% for b in beer_list[:10] %}
                    <li class="list-group-item mb-1">
                        {{macros.beer_line(b, current_user, true)}}
                    </li>
                {% endfor %}
                {% for b in beer_list[10:] %}
                    <li class="list-group-item mb-1">
                        {{macros.beer_line(b, current_user)}}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    {{super()}}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(document).ready(function(){

            $("#drinkList li").slice(20).hide();
            var mincount = 20;
            var maxcount = 40;


            $(window).scroll(function() 
                                {
                                if($(window).scrollTop() + $(window).height() >= $(document).height() - 10) {
                                        $("#yourlist li").slice(mincount,maxcount).fadeIn(1200);

            $("#loading").fadeIn(100).delay(1000).fadeOut(100);
                                    
            mincount = mincount+20;
            maxcount = maxcount+20
            filterFunction()
            }
            });



        });
    document.addEventListener("DOMContentLoaded", function() {
        var lazyloadImages;    

        if ("IntersectionObserver" in window) {
            lazyloadImages = document.querySelectorAll(".lazy");
            var imageObserver = new IntersectionObserver(function(entries, observer) {
            entries.forEach(function(entry) {
                if (entry.isIntersecting) {
                var image = entry.target;
                image.src = image.dataset.src;
                image.classList.remove("lazy");
                imageObserver.unobserve(image);
                }
            });
            });

            lazyloadImages.forEach(function(image) {
            imageObserver.observe(image);
            });
        } else {  
            var lazyloadThrottleTimeout;
            lazyloadImages = document.querySelectorAll(".lazy");
            
            function lazyload () {
            if(lazyloadThrottleTimeout) {
                clearTimeout(lazyloadThrottleTimeout);
            }    

            lazyloadThrottleTimeout = setTimeout(function() {
                var scrollTop = window.pageYOffset;
                lazyloadImages.forEach(function(img) {
                    if(img.offsetTop < (window.innerHeight + scrollTop)) {
                    img.src = img.dataset.src;
                    img.classList.remove('lazy');
                    }
                });
                if(lazyloadImages.length == 0) { 
                document.removeEventListener("scroll", lazyload);
                window.removeEventListener("resize", lazyload);
                window.removeEventListener("orientationChange", lazyload);
                }
            }, 20);
            }

            document.addEventListener("scroll", lazyload);
            window.addEventListener("resize", lazyload);
            window.addEventListener("orientationChange", lazyload);
        }
    })

        function filterFunction(remove=false, item=false, btnPress=false) {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById("beerFilterInput");
            filter = input.value.toUpperCase();
            ul = document.getElementById("drinkList");
            li = ul.getElementsByTagName("li");
            cats = getSelectedCategories();
            if(btnPress){
                if(remove){
                    cats = cats.filter(v => v !== item); 
                }
                else{
                    cats.push(item)
                }
            }
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("span")[0]
                cat = li[i].getElementsByTagName("span")[1]
                txtValue = a.textContent || a.innerText;
                txtValueCat = cat.textContent || cat.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1 && (cats.includes(txtValueCat.toUpperCase()) || cats.length == 0)) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
                
            }
        }

        function getSelectedCategories(){
            var selected = []
            var all = $(".category-button").map(function() {
                if($(this).attr('aria-pressed') === "true"){
                    var name = $(this).find('small');
                    selected.push(name.text().toUpperCase())
                }
            })

            return selected
        }

        $(document).ready(function () {
            $('.category-button')
                .on('click', function() {
                    if($(this).attr('aria-pressed') === "true"){
                        var name = $(this).find('small');
                        var upperCase = name.text().toUpperCase()
                        filterFunction(true, upperCase, true)
                    }
                    else{
                        var name = $(this).find('small');
                        var upperCase = name.text().toUpperCase()
                        filterFunction(false, upperCase, true)
                    }
                })
        });

        $(document).ready(function () {
            $('.collapse')
                .on('shown.bs.collapse', function() {
                    $(this)
                        .parent()
                        .parent()
                        .find(".fa-plus")
                        .removeClass("fa-plus")
                        .addClass("fa-minus");
                })
                .on('hidden.bs.collapse', function() {
                    $(this)
                        .parent()
                        .parent()
                        .find(".fa-minus")
                        .removeClass("fa-minus")
                        .addClass("fa-plus");
                });
        });


    function likeBeer(beer_id, action){
        var xhr = new XMLHttpRequest();
        xhr.onload = function(e) {
            if(this.readyState === XMLHttpRequest.DONE) {
                if(xhr.status == '200'){
                    var response = JSON.parse(xhr.responseText);
                    if(response['res'] == 'True'){
                         $('#beer-like-heart-' + beer_id).css("color", "red");
                    }else{
                         $('#beer-like-heart-' + beer_id).css("color", "gray");
                    }
                } else{
                    promptError("Villa koma upp:", xhr.responseText, "");
                }
            }
        }

        let formData = new FormData();
        xhr.open("POST", action, true);
        xhr.send(formData);
    }

    </script>
{% endblock %}