<!-- https://bootsnipp.com/snippets/ZkexO -->
<link rel="stylesheet" href="{{ url_for("static", filename = 'css/comment-section.css') }}">

<div class="container mb-5 mt-3">
  <div class="post-comments">
    {% if current_user.is_authenticated %}
      <div class="form-group">
        <label for="comment">{{ _('Skrifaðu athugasemd') }}</label>
        <textarea name="comment" id="comment-input" class="form-control" rows="3"></textarea>
      </div>
      <button type="submit" id='submit-comment-button' class="btn btn-info" disabled>{{ _('Senda') }}</button>
    {% endif %}
    <div class="comments-nav">
      <ul class="nav nav-pills">
        <li role="presentation">
          <a>
              {{ _('Það eru') }} {{comments | length}} {{ _('athugasemdir') }} <span class="caret"></span>
          </a>
        </li>
      </ul>
    </div>

    <!--
      <div class="comments-nav">
        <ul class="nav nav-pills">
          <li role="presentation" class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                {{ _('Það eru') }} {{comments | length}} {{ _('athugasemdir') }} <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="#">{{ _('Kemur') }}</a></li>
              <li><a href="#">{{ _('Seinna') }}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    -->

    <div class="column">

      {% for c in comments %}
         {% with comment=c %}
              {% include 'comment.jinja'%}
          {% endwith %}
      {% endfor %}
    </div>

  </div>
  <!-- post-comments -->
</div>
