<nav class="navbar navbar-expand-lg navbar-light" style="{% if section == 'red' %}background-color:{{config.COLORS.redWine}}; {% elif section == 'white'%}background-color:{{config.COLORS.whiteWine}};{% elif section == 'spirits'%}background-color:{{config.COLORS.spirits}};{% else %}background-color:{{config.COLORS.headerColor}}; {% endif %}">
    <a class="navbar-brand" href="{{url_for('beer.beer_list', drink_type='beer')}}">Skál</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">  
        <li class="nav-item {% if section == 'beer' %}active{% endif %}">
            <a class="nav-link {% if section == 'beer' %}text-light{% endif %}" href="{{url_for('beer.beer_list', drink_type='beer')}}">Bjórar</a>
        </li>
        <li class="nav-item {% if section == 'red' %}active{% endif %}">
            <a class="nav-link {% if section == 'red' %}text-light{% endif %}" href="{{url_for('beer.beer_list', drink_type='red')}}">Rauðvín</a>
        </li>
        <li class="nav-item {% if section == 'white' %}active{% endif %}">
            <a class="nav-link {% if section == 'white' %}text-light{% endif %}" href="{{url_for('beer.beer_list', drink_type='white')}}">Hvítvín</a>
        </li>
        <li class="nav-item {% if section == 'spirits' %}active{% endif %} border-right border-dark">
            <a class="nav-link {% if section == 'spirits' %}text-light{% endif %}" href="{{url_for('beer.beer_list', drink_type='spirits')}}">Sterkt</a>
        </li>
        <li class="nav-item {% if section == 'beernight' %}active{% endif %}">
            <a class="nav-link {% if section == 'beernight' %}text-light{% endif %}" href="{{url_for('beernight.public_beernights')}}">Bjórkvöld</a>
        </li>
        {% if not current_user.is_anonymous %}
            <li class="nav-item {% if section == 'user' %}active{% endif %}">
                <a class="nav-link {% if section == 'user' %}text-light{% endif %}"  href="{{url_for('user.current_user_detail')}}">Mín síða</a>
            </li>
        {% endif %}
        <li class="nav-item dropdown {% if section == 'other' %}active{% endif %}">
            <a class="nav-link {% if section == 'other' %}text-light{% endif %}" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown">
                <span>Annað</span>
                {{macros.btn_icon('info-circle','')}}
            </a>
            <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{url_for('other.beer_tasting')}}">Bjórsmökkun</a>
                    <a class="dropdown-item" href="http://blog.beeriety.com/2009/12/03/five-steps-to-proper-beer-tasting/">Bjórsmökkun utanaðkomandi</a>
                    <a class="dropdown-item" href="{{url_for('other.how_drunk_am_i') }}">Hversu fullur er ég?</a>
                    <a class="dropdown-item" href="{{url_for('other.how_drunk_alpha') }}">Hversu fullur er ég aftur?</a>

            </div>
        </li>
        {% if not current_user.is_anonymous and current_user.is_admin() %}
            <li class="nav-item {% if section == 'admin' %}active{% endif %}">
                <a class="nav-link {% if section == 'admin' %}text-light{% endif %}" href="{{url_for('user.admin_page')}}">Stjórnsíða</a>
            </li>
        {% endif %}
        
    </ul>
    <ul class="navbar-nav ml-auto">
        {% if not current_user.is_anonymous %}
            <li class="nav-item mr-auto">
                <a class="nav-link" href="{{url_for('main.logout') }}">{{macros.btn_icon('sign-out-alt','')}} Skrá út</a>            
            </li>
        {% else %}
            <li class="nav-item {% if section == 'user' %}active{% endif %}">
                <a class="nav-link {% if section == 'user' %}text-light{% endif %}" href="{{url_for('main.login')}}">{{macros.btn_icon('sign-in-alt','')}} Skrá inn</a>
            </li>
        {% endif %}
        </ul>
    </div>
</nav>
