{% extends "__base.jinja" %}
{% block body %}
    <div class='row'>
        <div class='col-xl-6 offset-xl-3 col-md-8 offset-md-2 col-12'>
            <div class='card card-body'>
                <a href="{{auth_url}}" class="btn btn-primary btn-block" style="padding: 15px 0;">{{ _('Skrá inn með Google aðgangi') }}</a>
            </div>
        </div>
    </div>
{% endblock %}
